<!DOCTYPE html>
<html lang="en">
<style>
    body{
        background-color: rgb(97, 84, 84);
        color: rgb(187, 164, 35);
    }
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Names</title>
</head>
<body>
    <h1>Names List:</h1>
    <ul>
        {%for e in usr%}
        <p><a href="infos/{{e.id}}"></a>{{e.id}} - {{e.userName}}</p>
        {%endfor%}
    </ul>
    <button><a href="/">Back To Start</a></button>
</body>
</html>