<!DOCTYPE html>
<html lang="en">
<style>
    body{
        background-color: rgb(97, 84, 84);
        color: rgb(187, 164, 35);
    }
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    a{
        text-align: center;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
</head>
<body>
    <h1>Welcome To Users Statistics</h1>
    <button><a href="statistic/">See Players</a></button>
</body>
</html>