<!DOCTYPE html>
<html lang="en">
    <style>
        body
        {
            background-color: rgba(17, 16, 16, 0.993);
            color: rgba(0, 255, 255, 0.774);
        }
    </style>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{u.Username}} Details</title>
    </head>
    <body>
        <p>Username = {{u.Username}}</p>
        <p>Clan = {{u.Clan}}</p>
        <p>Level = {{u.Level}}</p>
        <p>Game Played = {{u.Play}}</p>
        <p>Wins = {{u.Wins}}</p>
        <p>Loses = {{u.Loses}}</p>
        <p>Friends = {{u.Friends}}</p>
    </body>
</html>