<!DOCTYPE html>
<html lang="en">
    <style>
        body
        {
            background-color: rgba(238, 230, 230, 0.993);
            color: rgba(6, 48, 48, 0.774);
        }
        h1 {
            text-align: center;
        }
        button
        {
            text-align: center;
            color: black;
            border-radius: 2px;
            box-shadow: 4px;
        }
    </style>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
    </head>
    <body>
        <h1>Dashboard For The Users</h1>
        <button><a href="Dashboard/">Click Here to See The Users</a></button>
    </body>
</html>