<!DOCTYPE>
<html>
    <head>
        <title>{{profile.Name}} Profile</title>
    </head>
    <body>
        <style>
            body {
                background-color: rgb(151, 96, 96);
                color: gold;
            }
        </style>
        <h1>{{profile.Name}} Informations:</h1>
        <body>
            <p>Nickname: {{profile.Nickname}}</p>
            <p>Level: {{profile.Level}}</p>
            <p>Age: {{profile.Age}}</p>
            <p>GameNumbers: {{profile.GameNumbers}}</p>
            <p>GameWin: {{profile.GameWin}}</p>
            <p>GameLose: {{profile.GameLose}}</p>
            <p>FriendNumbers: {{profile.FriendNumbers}}</p>
            <p>BlockList: {{profile.BlockList}}</p>

        </body>
    </body>
</html>